.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 10px solid #f0932b;
}

@media screen and (min-width: 760px) {

  .grid {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    border: 20px solid #f0932b;
  }
}
