.letter {
  margin: 0;
  padding: 0;
  height: 25%;
  width: 25%;
  border: 5px solid #f0932b;
  box-sizing: border-box;
}

.letter.deg0 {
  transform: rotate(0deg);
}

.letter.deg90 {
  transform: rotate(90deg);
}

.letter.deg180 {
  transform: rotate(180deg);
}

.letter.deg270 {
  transform: rotate(270deg);
}

.letter > span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 6vh;
  background-color: #fff;
	color: #333333;
  cursor: pointer;

  transition: color ease-in-out .3s,
              background-color ease-in-out .3s;
}

.letter > span.selected {
  background-color: #2ecc71;
  color: #fff;
}

.letter > span.marked:before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 30%;
  right: 30%;
  border-bottom: 3px solid currentColor;
}
